@mixin smalltext {
font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 25px;
text-align: left;
color: $gray_txt;
}

@mixin bigtext {
font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 33px;
text-align: left;
color: $black;
}
